.row
  .col-md-1
    = link_to "#", class: 'btn' do
      %i.glyphicon.glyphicon-chevron-left
  .col-md-10
    = render 'form'
  .col-md-1
    = link_to "#", class: 'btn' do
      %i.glyphicon.glyphicon-chevron-right
