.container
  %h1.text-center Getting Started
  %p.lead.text-center Duis fermentum posuere velit quis facilisis
  %p Vivamus magna purus, hendrerit sed mi ut, cursus vestibulum elit. Mauris ac dui pulvinar, rutrum justo ut, placerat mauris. Vivamus et commodo elit, et ornare tellus. In mattis vulputate commodo. Cras vel fringilla odio, eget molestie nisl. Mauris id efficitur augue. Nunc dapibus felis neque, vel ultricies metus iaculis ac. Nullam pharetra facilisis purus, in rhoncus massa convallis blandit. Sed mi lectus, molestie sit amet ligula sit amet, blandit finibus mi. Nam volutpat faucibus erat vitae sagittis. Suspendisse in neque nec tellus sagittis ornare. Nullam consectetur nunc in fringilla fermentum. Etiam pharetra, lectus vestibulum iaculis pharetra, odio nisi pretium ipsum, at accumsan libero dolor et risus. Sed leo eros, convallis et tellus eu, congue elementum lacus. Duis non lacinia diam, vel blandit justo.

  %p.lead faq
  %h5 Nunc lacinia augue ut tortor pellentesque, ut euismod felis tincidunt?
  %p Sed faucibus vehicula lectus, ac eleifend libero eleifend nec. Integer eget lobortis nibh. Sed ut feugiat massa. Nullam vel turpis semper, efficitur nisl quis, sodales erat. In vehicula, leo nec pharetra commodo, lectus enim condimentum magna, vitae auctor lectus mauris a nisi. Etiam tincidunt odio id iaculis dapibus.
  %h5 Nunc lacinia augue ut tortor pellentesque, ut euismod felis tincidunt?
  %p Sed faucibus vehicula lectus, ac eleifend libero eleifend nec. Integer eget lobortis nibh. Sed ut feugiat massa. Nullam vel turpis semper, efficitur nisl quis, sodales erat. In vehicula, leo nec pharetra commodo, lectus enim condimentum magna, vitae auctor lectus mauris a nisi. Etiam tincidunt odio id iaculis dapibus.
  %h5 Nunc lacinia augue ut tortor pellentesque, ut euismod felis tincidunt?
  %p Sed faucibus vehicula lectus, ac eleifend libero eleifend nec. Integer eget lobortis nibh. Sed ut feugiat massa. Nullam vel turpis semper, efficitur nisl quis, sodales erat. In vehicula, leo nec pharetra commodo, lectus enim condimentum magna, vitae auctor lectus mauris a nisi. Etiam tincidunt odio id iaculis dapibus.
