.row.container
  .col-md-8.col-md-offset-2
    %h3.text-center Call Carousel

    %p.lead.text-center If you want more listings, then you need to make more calls

    %p We’ve cut the bullshit out of cold calling and made reaching investors easier for the aggressive real estate agents looking to take over their markets. If you’re new to the real estate business or tired of the crappy apps out there and want more business, then it’s time to sign up for Call Coursel and start hitting the phones.

    %p You know that if they want to sell more real estate, then you need to call more property owners. This is a simple, fast, and smart system to track, cycle and call your prospects ASAP.

    %p Cycle through property owners and make cold calls smoothly, updating their contact info, property details and most importantly their investment status – are they holding, buying, in a 1031 exchange or selling?

    %p Do you want more listings? Sign up.
