.row
  .col-md-7
    = image_tag('http://i1381.photobucket.com/albums/ah208/Ching_Casanova_Tapia/carousel_zpse8d3f2c5.jpeg', width: '800')
  .col-md-5
    .text-center.welcome
      %h1 Contact Carousel
      %p A cold calling tool
      = link_to "Learn more", static_about_path, class: 'btn btn-primary btn-large'
